Importing the required libraries

# **Tutorial To Scrape PDFs from a Given URL**
This tutorial will help us to download all the PDFs in a given URL. In addition to downloading the PDF, this tutorial also helps us in reading a PDF and saving a table from the PDF to a conservative structured format like a CSV.

In [1]:
import os
import requests
import pandas as pd
from urllib.parse import urljoin
from bs4 import BeautifulSoup

In [2]:
# Tabula scrapes tables from PDFs
!pip install tabula-py
import tabula

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.5.1-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 4.6 MB/s
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.5.1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

The url input for dowloading pdfs and setting up output folder path

In [4]:
# Save contents from url into folder_location
url = 'https://www.premierleague.com/publications'
folder_location = r'/content/drive/MyDrive/Colab Notebooks/premier_league'
if not os.path.exists(folder_location):
    os.mkdir(folder_location)

Actual Code

In [5]:
response = requests.get(url).text
soup = BeautifulSoup(response, "html.parser")     

# Loop through all PDF links in the page
for link in soup.select("a[href$='.pdf']"):
    # Local file name is the same as PDF file name in the URL (ignoring rest of the path)
    # https://premierleague-static-files.s3.amazonaws.com/premierleague/document/2016/07/02/e1648e96-4eeb-456e-8ce0-d937d2bc7649/2011-12-premier-league-season-review.pdf
    filename = os.path.join(folder_location, link['href'].split('/')[-1])
    with open(filename, 'wb') as f:
        f.write(requests.get(urljoin(url,link['href'])).content)

Reading a table from a PDF document and storing it in a csv file

In [ ]:
combined_pdf = folder_location + "/This-is-PL-Interactive-Combined.pdf"
tabula.read_pdf(combined_pdf,  pages='18')

[                                           Unnamed: 0  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                               £100m
 10                                                NaN
 11                                                NaN
 12                                     The amount the
 13                                     Premier League
 14                              invests per season in
 15                                 the development of
 16                              community facilities,
 17          sports participation, Central payments to
 18                community and schools clubs 2017/18
 19  programmes, and to The collective and central ...
 20  support the well-being Premier League markets ...
 21                                of players in lower
 22  make using these central payments, leagues. Th...
 23  League also supports all of them to not only i...
 24  the English Football talented players and faci...
 25  League with a further also their local communi...
 26        £100m per season of wider football pyramid.
 27   Solidarity payments The income generated by fans
 28                              and ring-fenced Youth
 29  Development grants. watching compelling matche...
 30                  the Premier League is what allows

                                 Unnamed: 1  Unnamed: 2   Pos Unnamed: 3  \
 0                                      NaN         NaN   1.0        NaN
 1                                      NaN         NaN   2.0        NaN
 2                                      NaN         NaN   3.0        NaN
 3                                      NaN         NaN   4.0        NaN
 4                                      NaN         NaN   5.0        NaN
 5                                      NaN         NaN   6.0        NaN
 6                                      NaN         NaN   7.0        NaN
 7                                      NaN         NaN   8.0        NaN
 8                                      NaN         NaN   9.0        NaN
 9                                      NaN         NaN  10.0        NaN
 10                                     NaN         NaN   NaN        125
 11                                     NaN         NaN   NaN     RAEY S
 12                                     NaN         NaN  11.0        NaN
 13                                     NaN         NaN   NaN        NaN
 14                                     NaN         NaN  12.0        NaN
 15                                     NaN         NaN   NaN        NaN
 16                                     NaN         NaN  13.0        NaN
 17                                     NaN         NaN   NaN        NaN
 18                                     NaN         NaN  14.0        NaN
 19      our clubs to remain as competitive         NaN   NaN        NaN
 20        as possible. The investment they         NaN  15.0        NaN
 21                                     NaN         NaN   NaN        NaN
 22                                     NaN         NaN  16.0        NaN
 23       creates safer and more accessible         NaN   NaN        NaN
 24  stadia for fans. This on-pitch success         NaN  17.0        NaN
 25    enables the responsible distribution         NaN   NaN        NaN
 26       of investment through the rest of         NaN  18.0        NaN
 27          the football pyramid to ensure         NaN   NaN        NaN
 28                                     NaN         NaN  19.0        NaN
 29    participation in the game can thrive         NaN   NaN        NaN
 30                         at every level.         NaN  20.0        NaN

                       Club     W     D     L    GD    Pts Total payment
 0          Manchester City  32.0   4.0   2.0  79.0  100.0       £149.4m
 1        Manchester United  25.0   6.0   7.0  40.0   81.0       £149.8m
 2        Tottenham Hotspur  23.0   8.0   7.0  38.0   77.0       £144.4m
 3                Liverpool  21.0  12.0   5.0  46.0   75.0       £145.9m
 4                  Chelsea  21.0   7.0  10.0  24.0   70.0       £141.7m
 5                  Arsenal  19.0   6.0  13.0  23.0   63.0       £142.0m
 6                  Burnley  14.0  12.0  12.0  -3.0   54.0       £119.8m
 7                  Everton  13.0  10.0  15.0 -14.0   49.0       £128.0m
 8           Leicester City  12.0  11.0  15.0  -4.0   47.0       £118.2m
 9         Newcastle United  12.0   8.0  18.0  -8.0   44.0       £123.0m
 10                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 11                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 12          Crystal Palace  11.0  11.0  16.0 -10.0   44.0       £114.3m
 13                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 14         AFC Bournemouth  11.0  11.0  16.0 -16.0   44.0       £111.2m
 15                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 16         West Ham United  10.0  12.0  16.0 -20.0   42.0       £116.1m
 17                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 18                 Watford  11.0   8.0  19.0 -20.0   41.0       £106.3m
 19                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 20  Brighton & Hove Albion   9.0  13.0  16.0 -20.0   40.0       £107.7m
 21                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 22       Huddersfield Town   9.0  10.0  19.0 -30.0   37.0       £102.4m
 23                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 24             Southampton   7.0  15.0  16.0 -19.0   36.0       £107.2m
 25                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 26            Swansea City   8.0   9.0  21.0 -28.0   33.0        £98.5m
 27                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 28              Stoke City   7.0  12.0  19.0 -33.0   33.0        £98.9m
 29                     NaN   NaN   NaN   NaN   NaN    NaN           NaN
 30    West Bromwich Albion   6.0  13.0  19.0 -25.0   31.0        £94.7m  ]

In [ ]:
from tabula import convert_into

convert_into(combined_pdf, folder_location +"/table_output.csv", output_format="csv",pages = 18,area=[[275,504,640,900]])
pd.read_csv(folder_location+"/table_output.csv")

,Pos,Unnamed: 1,Club,W,D,L,GD,Pts,Total payment
0,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,£149.4m
1,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,£149.8m
2,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,£144.4m
3,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,£145.9m
4,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,£141.7m
5,6.0,NaN,Arsenal,19.0,6.0,13.0,23.0,63.0,£142.0m
6,7.0,NaN,Burnley,14.0,12.0,12.0,-3.0,54.0,£119.8m
7,8.0,NaN,Everton,13.0,10.0,15.0,-14.0,49.0,£128.0m
8,9.0,NaN,Leicester City,12.0,11.0,15.0,-4.0,47.0,£118.2m
9,10.0,NaN,Newcastle United,12.0,8.0,18.0,-8.0,44.0,£123.0m
10,NaN,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,E RY SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11.0,NaN,Crystal Palace,11.0,11.0,16.0,-10.0,44.0,£114.3m
13,12.0,NaN,AFC Bournemouth,11.0,11.0,16.0,-16.0,44.0,£111.2m
14,13.0,NaN,West Ham United,10.0,12.0,16.0,-20.0,42.0,£116.1m
15,14.0,NaN,Watford,11.0,8.0,19.0,-20.0,41.0,£106.3m
16,15.0,NaN,Brighton & Hove Albion,9.0,13.0,16.0,-20.0,40.0,£107.7m
17,16.0,NaN,Huddersfield Town,9.0,10.0,19.0,-30.0,37.0,£102.4m
18,17.0,NaN,Southampton,7.0,15.0,16.0,-19.0,36.0,£107.2m
19,18.0,NaN,Swansea City,8.0,9.0,21.0,-28.0,33.0,£98.5m
20,19.0,NaN,Stoke City,7.0,12.0,19.0,-33.0,33.0,£98.9m
21,20.0,NaN,West Bromwich Albion,6.0,13.0,19.0,-25.0,31.0,£94.7m

'1.1.5'